.container-5{
    border: 2px solid black;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-blackjack-row-1, .flex-blackjack-row-2{
    background: url('../images/blackjack-background.jpeg') center;
    color: white;
}



.flex-blackjack-row-1 div{
    flex: 1;
    border: 1px solid black;
    height: 350px;
    padding: 10px;
    text-align: center;
}

.flex-blackjack-row-1 img{
    width: 25%;
    padding: 10px;
}


.flex-blackjack-row-2 div{
    border: 1px solid black;
    padding: 10px;
}
.flex-blackjack-row-2 button{
    border: 1px solid black;
    padding: 10px;
    width: 64px;
    height: 40px;
    font-size: medium;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
}

table, th, td{
    border: 1px solid black;
    padding: 5px;
    font-size: medium;
}

